{% extends 'layout.html' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ title }}专题
        </div>
        <div class="panel-body">

            <form  novalidate method="post">
                {% csrf_token %}
                {% for field in salecategory_modelformobj %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="text-danger">{{ field.errors.0 }}</span>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <input type="submit" class="btn btn-primary pull-right">
                </div>

            </form>


        </div>
    </div>

{% endblock %}