{% extends 'layout.html' %}
{% block css %}
{% endblock %}
{% block content %}
    <h1>拍卖专场列表</h1>
    <a class="btn btn-success" href="{% url 'web:SaleCategory_add' %}">添加</a>
    <table class="table table-hover table-bordered ">
        <thead>
        <th>封面</th>
        <th>专场</th>
        <th>预展时间</th>
        <th>拍卖时间</th>
        <th>状态</th>
        <th>操作</th>
        </thead>
        <tbody>
        {% for obj in salecategory_objs %}
            <tr>
                <td class="center">
                    <img src="{{ obj.image_url }}" alt="" style="height: 100px">
                </td>
                <td class="center"><a href="{% url 'web:auction_item_list' salecategory_id=obj.id %}">{{ obj.title }}</a></td>

                <td>{{ obj.start_time|date:"Y-m-d H:i" }}</td>
                <td>{{ obj.end_time|date:"Y-m-d H:i"  }}</td>
                 <td>{{ obj.get_status_display }}</td>
                <td>
                    <a class="btn btn-default" href="{% url 'web:SaleCategory_editor' obj.id %}">编辑</a>
                    <a class="btn btn-danger" onclick="removeRow(this,'{% url 'web:SaleCategory_del' obj.id %}')">删除</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
{% block js %}
 <script>
        function removeRow(ths, url) {
            var result = confirm("确认删除？");
            if (result) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: "JSON",
                    success: function (arg) {
                        if (arg.status) {
                            $(ths).parent().parent().remove();
                        } else {
                            alert('删除失败');
                        }
                    }
                })
            }
        }
    </script>
{% endblock %}